ul {
    list-style: none;
}

li {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: #FFF;
}

.revealed{
    background-color:darkblue;
    border-radius: 5%;
    transition: 2s;
}

#letterbox {
    border: 1px dashed black;
    height: 150px;
    width: 250px;
}

